<header class="region-header">
  <div class="inner">
    <div class="header-inner">
      <a (click)="logout()" class="logo-link" style="position: absolute; top: 30px;">
          logout
      </a>
      <div class="region-menu">
        <nav class="bloc block-menu menu-main">
          <div class="main">
            <ul class="nav">
                <li class="menu-item menu-trim--active-trail">
                    <a  routerLink="/private/favorites"
                        routerLinkActive="is-active"
                        class="menu-link">
                      favorites
                    </a>
                </li>
                <li class="menu-item menu-trim--active-trail">
                    <a  routerLink="/private/random"
                        routerLinkActive="is-active"
                        class="menu-link">
                      random jokes
                    </a>
                </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
