<header class="region-header">
  <div class="inner">
    <div class="header-inner">
      <div class="region-menu">
        <nav class="bloc block-menu menu-main">
          <div class="main">
            <ul class="nav">
              <li class="menu-item menu-trim--active-trail">
                <a  routerLink="/public/login"
                    routerLinkActive="is-active"
                    class="menu-link">
                  login
                </a>
              </li>
              <li class="menu-item menu-trim--active-trail">
                <a  routerLink="/public/signup"
                    routerLinkActive="is-active"
                    class="menu-link">
                  signup
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>