<form #signupForm="ngForm" (submit)="onSubmit()">
  <div>
    <input  required
            type="text"
            name="username"
            [(ngModel)]="user.username"
            placeholder="username"
            class="form-email"
            #username="ngModel" />
  </div>
  <div>
    <input  required
            type="email"
            name="email"
            [(ngModel)]="user.email"
            placeholder="email"
            class="form-email" />
    </div>
  <div>
    <input  required
            type="password"
            name="password"
            [(ngModel)]="user.password"
            placeholder="password"
            class="form-email" />
  </div>
  <div>
    <input  required
            type="password"
            name="password2"
            [(ngModel)]="user.password2"
            placeholder="retype password"
            class="form-email" />
  </div>
  <div>
    <button type="submit"
            [disabled]="!signupForm.valid || user.password !== user.password2"
            class="button">
       Submit
    </button>
  </div>
</form>